table{
    table-layout: fixed;
}
.table>tbody>tr>td{
    width: 100px;
    word-break: break-all;
}

.mt20 {
    margin-top: 20px;
}
.fl {
    float: left;
}

.col-md-6 {
    width: 100%;
}
.fb {
    font-weight: bold;
}

/** 广告位管理  **/
.tab-content {
    overflow: hidden;

}
.imgbox {
    width: 100%;
    float: left;
}
.upload-link {
    width: 90%;
    float: left;
    overflow: hidden;
    padding-top: 10px;
}
.upload-link span {
    width: 100%;
    overflow: hidden;
    display: block;
    margin-top: 10px;
}
.upload-link label {
    font: normal 14px/24px Microsoft Yahei;
    min-width: 100px;
    text-align: left;
}
.upload-link input {
    width: 200px;
    display: inline-block;
    margin-right: 60px;
}

.upload-btn-box {
    width: 89%;
    float: left;
    padding-left: 11%;
}
.upload-btn-box button {
    margin-right: 20px;
}
.table-striped td,.table-striped th {
    text-align: center;
}
.table-striped a {
    margin: 0 10px;
}
.color-red {
    color: red;
}

/* layer style */
.layer-box {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.layer-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
}

.layer-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    border:#ccc 1px solid;
    width: 400px;
    margin-left: -200px;
    margin-top: -100px;
}
.layer-close {
    position: absolute;
    right: 15px;
    top: 10px;
    font: normal 24px/24px Arial;
}
.layer-close:hover {
    text-decoration: none;
}
p.line{
    height: 1px;
    width: 90%;
    background-color: #ccc;
    margin: 20px 0;
}
/* layer style */
.layer-login {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 100%;
}
.layer-bg_login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
}

.layer-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    border:#ccc 1px solid;
    width: 400px;
    margin-left: -200px;
    margin-top: -100px;

}
.layer-close {
    position: absolute;
    right: 15px;
    top: 10px;
    font: normal 24px/24px Arial;
}
.layer-close:hover {
    text-decoration: none;
}
select.input-sm {
    display: inline-block;
    width: 200px;
}

textarea.form-control {
    height: auto;
    width: 67%;
    display: inline-block;
}

.label-box {
    padding: 10px 0 0;
}
.label-box p {
    margin: 0;
    width: 43%;
    float: left;
    line-height: 34px;
}
.label-box p b {
    font-weight: normal;
    width: 100px;
    display: inline-block;
    text-align: right;
}

.thumbnail {
    margin-bottom: 10px;
}
.col-md-3 p {
    padding: 0;
    height: 20px;
}
.col-md-3 p a {
    display: none;
}
.col-md-3:hover p a {
    display: inline-block;
}
/* 标签属性 */
.labelattr {
    overflow: hidden;
    padding: 20px;
}
.label-left {
    float: left;
    width: 49%;
    padding: 1%;
}

.label-right {
    float: left;
    width: 51%;
    border-left: #eee 1px solid;
    padding: 1%;
}

.td-line>tbody>tr>td {
    line-height: 50px;
}
.checkbox label {
    margin: 0 40px 10px;
    border: #ccc 1px solid;
    width: 80px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
}
.Symbol {
    font: normal 21px/23px Arial;
    width: 70%;
    display: block;
    text-align: center;
}

.addimg-exit-sty {
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
    width: 40px;
}
.addimg-exit-sty a {
    margin-right: 10px;
}
.input-sty {
    border: none;
    border-bottom: #ccc 1px solid;
    color: #ccc;
}


.upload-link2 {
    width: 100%;
}
.upload-link2 input,.upload-link2 select {
    margin: 0 10px;
    width: 160px;
}
.upload-link3 {
    width: 100%;
}
.upload-link3 input,.upload-link2 select {
    margin: 0 10px;
    width: 140px;
}
.upload-link3 label {
    width: 110px;
}

.upload-link .input-w140 label{
    width: 140px;
}
/* pagination*/
.dataTables_paginate a {
    display:inline-block;
    padding:6px 12px;
    margin:1px;
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor:pointer;
    text-decoration: none;
    border: 1px solid #ddd;

}
.dataTables_paginate a:hover{
    background-color:#eee;
}
.dataTables_paginate a.current{
    background-color:#337ab7;
    color:#fff;
}
.dataTables_paginate a.disabled{
    display:inline-block;
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor:not-allowed;
}
.dataTables_paginate a.previous,
.dataTables_paginate a.next {
    width: 70px;
}
.dataTables_paginate a.first ,
.dataTables_paginate a.last {
    width:0px;
    border:0;
    padding:0;
}

#ui-datepicker-div{
    width:300px;
}

/* login */
#gonlinebtn,.row {
    margin-top: 20px
}
.content {
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 20px;
    width: 580px;
    background: #fff;
}

fieldset {
    padding: 5px 20px;
    margin: 0 2px
}

legend {
    width: 40%;
    line-height: inherit;
    color: #333;
    border: 1px;
    border-bottom: 0;
    margin-left: 20px
}

.label-header {
    padding: 5px
}

fieldset.question {
    border: 1px solid #d5d5d5
}

.container-table {
    min-height: 873px;
    display: table
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle
}

.btn-circle,.gonline,.placeholders,.supplier .btnbox {
    text-align: center
}







/* 20160812 */
.label-box-main {
    overflow: hidden;
    color: #666;
    width: 98%;
}
.label-box-main p {
    display: inline-block;
    width: 130px;
}
.label-box-main p label {
    font-weight: bold;
}
.label-box-main p input {
    width: 20px;
    margin-right: 0;
}

.label-box-cont {
    overflow: hidden;
    padding: 8px;
    border-top: #eee 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f9f9f9;
    color: #666;
    width: 98%;
    margin-top: 20px;
}
.label-box-cont p {
    position: relative;
    padding: 0 35px 0 15px;
    line-height: inherit;
    width: initial;
    float: left;
    margin-bottom: 10px;
}
.label-box-cont p input {
    position: absolute;
    right: 15px;
    top: -1px;
}
.goodtag{
    display: inline-block;
}
.goodtag p{
    display: inline-block;
    margin-right: 10px;
}
.goodtag p label{
    width: auto;
    min-width: auto;
}
.goodtag p input{
    width: 20px;
    margin-right: 0;
}

.prime_attribute,.prime_attributes,.prime_zi_attribute,.prime_zi_attributes{
    display: inline-block;
}
.prime_attribute p,.prime_zi_attribute p,.prime_attributes p,.prime_zi_attributes p{
    display: inline-block;
    margin-right: 10px;
}
.prime_attribute p input,.prime_zi_attribute p input,.prime_attributes p input,.prime_zi_attributes p input{
    width: 20px;
    margin-right: 0;
}
.prime_attribute label,.prime_attributes label{
    width: auto;
    min-width: auto;
}
.update_attribute{
    width: 100px;
    color: #007fbf;
    display: none;
}
.up_attribute{
    display: none;
}






.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}

#profile .uploader-list div{
    display: inline-block;
}
#profile .uploader-list div img{
    display: inline-block;
}
.ipt_file{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 200px;
}
.file_box{
    position: relative;
}

.required{
    display: initial;
    width: auto;
    color: red;
    margin-right: 5px;
    font-style: normal;
}
.filled{
    width: 220px;
    display: inline-block;
    color: red;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    list-style: none;
    margin-left: -30px;
}
.lable-style{
    width: 500px;
    float: left;
}
.lable-style input{
    margin-right: 0;
}
.goodsdetail_input{
    width: 280px;
    height: 175px;
}


.sidebar ul li div {
  margin: 0px 15px 0 35px;
  }
  .sidebar ul li div a {
    display: block;
    line-height: 34px;
    font-size: 13px;
    color: #666; }

    .sidebar ul li div a:hover{
          text-decoration: none;
            background: #eee;
            color: #23527c;
    }
  .sidebar ul li div .active {
    color: #23527c;
    background: #eee; }

.zq-input .checkbox {
  position: relative;
  top: 3px; }

.zq-input b {
  line-height: 36px;
  padding: 0 5px;
  display: inline-block;
  font-weight: normal; }

.zq-input .w-60 {
  width: 60px;
  padding: 6px 0;
  text-align: center;
  margin: 0; }

.zq-input p {
  display: inline-block;
  font-style: normal;
  color: #ccc;
  font-size: 12px; }

.zq-input .m-r-60 {
  margin-right: 60px; }

.zq-input .textarea-w500 {
  width: 500px;
  height: 60px;
  margin-right: 0; }

.textarea-box {
  padding-left: 100px;
  margin-top: 15px; }
  .textarea-box div {
    width: 180px;
    float: left; }
  .textarea-box .sep {
    width: 60px;
    text-align: center;
    height: 214px;
    line-height: 200px;
    float: left;
    color: #ccc;
    font-size: 40px;
    margin-top: 20px; }
  .textarea-box p {
    text-align: center;
    color: #666; }
  .textarea-box textarea {
    height: 200px;
    width: 150px;
    margin: 0; }

.edit-yhq label {
  width: 130px;
  text-align: right;
  display: inline-block; }

.edit-yhq b {
  font-weight: normal; }

.upload-link .span-w300 {
  width: 300px;
  float: left; }
  .upload-link .span-w300 b {
    font-weight: normal;
    width: 200px;
    display: inline-block; }
  .upload-link .span-w300 label {
    width: 80px;
    text-align: right; }

.filestyle {
  width: 160px;
  margin-right: 0;
  border: none;
  padding: 0;
  box-shadow: inset 0 1px 1px transparent; }

.dingdan-detail {
  border-bottom: #ddd 1px solid;
  padding-bottom: 20px;
  margin-bottom: 20px; }
